table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

#selectNum {
    height: 26px;
}

#csvFileInput {
    display: none;
}

.selectBtn, .excelBtn {
    padding: 6px 25px;
    background-color: #FF6600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.maker {
    color: rgb(187, 187, 187);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}